footer {
  background-color: $gray-dark;
  padding: 35px 24px;
}

.footer-logo {
  font-family: "Shrikhand";
  font-size: 1.125rem; /* 18px */
  color: white;
  margin-bottom: 21px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__emphasis {
    font-weight: 500; /* Medium */
  }

  a {
    color: #FFFFFF;

    > i {
      width: 20px;
      font-size: 14px;
      text-align: center;
      margin-right: 8px;
    }
  }
}