/* Colors */
$mint: #008766;
$mint-light: #99E2D0;
$purple: #9356DC;
$pink: #FF79DA;
$blue-light: #89C8FA;
$blue-dark: #001B31; 
$gray-light: #F6F6F6;
$gray-medium: #EAEAEA;
$gray-dark: #353535;
$gray-dark_95: #353535F2;
