.like-button {
  position: relative;
  flex: 0 0 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 22px;
    height: auto;
    position: absolute;
  }

  &__icon_outline {
    transition-duration: 200ms;
  }

  &__icon_filled {
    // visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition-duration: 200ms;
  }

  &:hover > .like-button__icon_outline {
    opacity: 0;
  }

  &:hover > .like-button__icon_filled {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: cubic-bezier(.4,.8,.8,1.3);
    
  }
}