.loader-screen {
  // Remove before submitting
  visibility: hidden;

  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-dark_95;
  animation-name: show-loader;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes show-loader {
  100% {
    visibility: hidden;
  }
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner__particle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $mint-light;
  animation-name: move-particle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  &_1 { animation-delay: 0.00s; }
  &_2 { animation-delay: 0.15s; }
  &_3 { animation-delay: 0.30s; }
}

@keyframes move-particle {
  60%  { transform: translate(0, -25px); }
}

.spinner__particle-outline {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $mint-light;
  animation-name: fade-outline;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  &_1 {
    left: 0px;
    animation-delay: 0s;
  }
  &_2 {
    left: 32px;
    animation-delay: 0.15s;
  }
  &_3 {
    left: 64px;
    animation-delay: 0.3s;
  }
}

@keyframes fade-outline {
  25% { opacity: 100%; }
  95% { opacity: 0%; }
}