.location-bar {
  display: flex; /* Set this to `none` to hide */
  justify-content: center;
  gap: 17px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin-left: -16px; /* For optical balance */
  font-weight: 500; /* Medium */
  color: $gray-dark;
  background-color: $gray-medium;
}