.location-bar {
  display: flex; /* Set this to `none` to hide */
  justify-content: center;
  gap: 17px;
  padding: 16px 0;
  margin-left: -16px; /* For optical balance */
  font-weight: 500; /* Medium */
  color: $gray-dark;
  background-color: $gray-medium;

  &__icon {
    height: 16px;
    width: auto;
  }
}