.menu-item {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

  &__text-container {
    flex-grow: 1;
    padding: 12px 24px 12px 12px;
    min-width: 0; // This is required to make the ellipsis work.
  }

  &__name {
    font-size: 1.125rem; /* 18px */
    font-weight: 500; /* Medium */
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &__description-container {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-size: 0.938rem; /* 15px */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  &__price {
    font-size: 0.938rem; /* 15px */
    font-weight: 700; /* Bold */
    color: $gray-dark;
  }

  &:hover .select-button {
    margin-right: 0;
  }

  &:hover .select-button__icon {
    animation-name: rotate-icon;
    animation-duration: 450ms;
  }
}

.menu-items-container .menu-item {
  animation-name: staggered-reveal;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}
 
.menu-item:nth-child(1) { animation-delay: 250ms; }
.menu-item:nth-child(2) { animation-delay: 400ms; }
.menu-item:nth-child(3) { animation-delay: 550ms; }
.menu-item:nth-child(4) { animation-delay: 700ms; }

@keyframes staggered-reveal {
  0% {
    opacity: 0;
    transform: translate(0, 24px);
  }
  100% {
    opacity: 1;
    tranform: translate(0);
  }
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  margin-right: -60px;
  background-color: $mint-light;
  transition-property: margin-right;
  transition-duration: 250ms;

  &__icon {
    width: 20px;
    height: 20px;
  }
}

@keyframes rotate-icon {
  0%   { transform: rotate(90deg); }
  100% { transform: rotate(360deg); }
}