.nav-bar {
  position: relative; /* Places element above others. Needed to see drop shadow. */
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  &__back-button {
    display: none; /* This can toggle button visibility */
    position: absolute;
    top: 26px;
    left: 23px;

    &_visible {
      display: block;
    }
  }

  &__back-button-icon {
    height: 16px;
    width: auto;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    padding: 22px 0 12px 0;
  }
}

