.restaurant-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &__img-cont {
    position: relative;
    aspect-ratio: 2 / 1;
  }

  &__info {
    padding: 16px 24px 16px 12px;
    display: flex;
    justify-content: space-between;
  }

  &__restaurant-name {
    font-size: 1.125rem; /* 18px */
    font-weight: 700; /* Bold */
    margin-bottom: 6px;
  }
  
  &__restaurant-address {
    font-size: 1.063rem; /* 17px */
    font-weight: 300; /* Light */
  }

  &:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  }
}

.badge {
  position: absolute;
  top: 13px;
  right: 12px;
}