@keyframes reveal-select-button {
  0% {
    opacity: 0.25;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

@keyframes hide-select-button {
  0% {
    margin-right: 0px;
  }
  90% {
    opacity: 0; 
  }
  100% {
    margin-right: -60px;
  }
}

@keyframes scale-icon {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}